@charset "utf-8";

	
.boxes {

	color: #000000;
	z-index: 1;
	width: 72%;
	font-size: 100%;
	text-align: left;
	margin-left: 15px;
	padding: 10px;
	background-color: transparent;
	outline: none;
	height: 24px;
	border-radius: 20px;
}
	
img
{
	width:500px;
	height:100px;
}
input:focus {
    outline: none;
}
.head{
	text-align:center;
	z-index:1;
	width: 100%;
	font-size: 25px;
	outline:none;
	/*background-color: #395652;
	color:#ffffff
	*/
	
}

.maindiv{
	z-index:1;
	width: 100%;
	font-size: 100%;
	text-align: left;
	background-color: #ffffff;
	outline:none;
	height:1000px;
	
}

.label{
	font-size: 100%;
/*	color: #ffffff;*/
	text-align: left;
	margin-left: 15px;
	background-color: transparent;
	margin-top:15px;
}

.button{
		
		
		text-align: center;
		z-index: 1;
		width: 90px;
		font-size: 24px;
		margin-left: 35px;
		outline: none;
		/*background-color: #5D9C4D;*/
		color: #ffffff;
		border-radius: 15px;
		margin-top: 15px;
}
.heading{
	/*color:#5D9C4D;*/
	margin-left:15px;
	font-size:25px;
}
.desc{
	/*color:#ffffff;*/
	margin-left:15px;
	font-size:17px;	
}
.hint {
		color: #E4E4E4;		
		z-index: 1;
		width: 72%;
		font-size: 100%;
		text-align: left;
		margin-left: 15px;
		padding: 10px;
		background-color: transparent;
		outline: none;
		height: 24px;
		border-radius: 20px;
	}
.textarea{
	width: 250px; 
	height: 100px;
}	