<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Markers</key>
	<array>
		<dict>
			<key>VisualImage</key>
			<array>
				<string>seemore.png</string>
				<string>hhgregg.png</string>
				<string>intel.png</string>
				<string>kellogg.png</string>
				<string>cocacola.png</string>
				<string>mcdonald.png</string>
				<string>gm.png</string>
				<string>mastercard.png</string>
				<string>kellogg_special.png</string>
				<string>mcdonald2.png</string>
				<string>purina.png</string>
				<string>millercoors.png</string>
				<string>pg.png</string>
				<string>firestone.png</string>
				<string>whirlpool.png</string>
			</array>
			<key>VideoURL</key>
			<array>
				<string>SBC_SeeMore_final_720HD</string>
				<string>hhgregg</string>
				<string>intel</string>
				<string>kellogg</string>
				<string>coke</string>
				<string>mcdonalds</string>
				<string>gm</string>
				<string></string>
				<string></string>
				<string>mcdonalds</string>
				<string>purina</string>
				<string>miller</string>
				<string>pg</string>
				<string>firestone</string>
				<string>whirlpool</string>
			</array>
			<key>Type</key>
			<array>
				<string>VIDEO</string>
				<string>VIDEO</string>
				<string>VIDEO</string>
				<string>VIDEO</string>
				<string>VIDEO</string>
				<string>VIDEO</string>
				<string>VIDEO</string>
				<string>WEBURL</string>
				<string>WEBURL</string>
				<string>VIDEO</string>
				<string>VIDEO</string>
				<string>VIDEO</string>
				<string>VIDEO</string>
				<string>VIDEO</string>
				<string>VIDEO</string>
			</array>
			<key>WebURL</key>
			<array>
				<string>http://www.seemoreinteractive.com</string>
				<string>http://www.seemoreinteractive.com</string>
				<string>http://www.seemoreinteractive.com</string>
				<string>http://www.seemoreinteractive.com</string>
				<string>http://www.seemoreinteractive.com</string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>3DModel</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
		</dict>
	</array>
</dict>
</plist>
