@charset "utf-8";

.boxes {

	z-index:1;
	width: 500px;
	font-size: 24px;
	text-align: left;
	margin-left: 15px;
	background-color: transparent;
	outline:none;
	border-radius: 20px;
	height:40px;
	color: #000000;
	padding:10px;
	}
	
	.hint {
		color: #E4E4E4;
		z-index:1;
		width: 500px;
		font-size: 24px;
		text-align: left;
		margin-left: 15px;
		background-color: transparent;
		outline:none;
		border-radius: 20px;
		height:40px;
		padding:10px;
	}
img
{
	width:180px;
	height:50px;
}
input:focus {
    outline: none;
}
.head{
	
	text-align:center;
	z-index:1;
	width: 550px;
	font-size: 35px;
	outline:none;	
	/*background-color: #395652;*/
	color:#ffffff;
	padding:10px;

}

.maindiv{
	
	z-index:1;
	width: 570px;
	font-size: 24px;
	text-align: left;
	background-color: #ffffff;
	outline:none;
	height:100%
	

}
.label{
	font-size: 24px;
	/*color: #ffffff;*/
	text-align: left;
	margin-left: 15px;
	background-color: transparent;
	margin-top:15px;
}

.button{
		text-align:center;
		z-index:1;
		width:130px;
		font-size: 35px;
		margin-left: 55px;
		outline:none;	
		/*background-color: #5D9C4D;*/
		color:#ffffff;
		border-radius: 20px;
		margin-top:15px;
}
.heading{
	/*color:#5D9C4D*/
	margin-left:15px;
	font-size:30px;
}
.desc{
	/*color:#ffffff;*/
	margin-left:15px;
	font-size:20px;	
}