<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seemoreinteractive.seemoreinteractive"
    android:versionCode="15"
    android:versionName="1.15" >

    <uses-sdk android:minSdkVersion="14" />

    <permission
        android:name="com.seemoreinteractive.seemoreinteractive.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="com.seemoreinteractive.seemoreinteractive.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.seemoreinteractive.seemoreinteractive.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.seemoreinteractive.seemoreinteractive.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <!-- <uses-permission android:name="android.permission.CALL_PHONE"/> -->

    <uses-feature android:name="android.hardware.screen.portrait" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- Only needed if Visual Search is used -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- These permissions are only needed for debugging -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <compatible-screens>

        <!-- all small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="213"
            android:screenSize="small" />
        <screen
            android:screenDensity="240"
            android:screenSize="small" />
        <screen
            android:screenDensity="320"
            android:screenSize="small" />
        <screen
            android:screenDensity="480"
            android:screenSize="small" />
        <screen
            android:screenDensity="640"
            android:screenSize="small" />
        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="213"
            android:screenSize="normal" />
        <screen
            android:screenDensity="240"
            android:screenSize="normal" />
        <screen
            android:screenDensity="320"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="640"
            android:screenSize="normal" />
        <!-- all large size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="213"
            android:screenSize="large" />
        <screen
            android:screenDensity="240"
            android:screenSize="large" />
        <screen
            android:screenDensity="320"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
        <screen
            android:screenDensity="640"
            android:screenSize="large" />
        <!-- all xlarge size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="213"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="240"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="320"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="480"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="640"
            android:screenSize="xlarge" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@drawable/seemore_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.FullScreen" >
        <activity
            android:name=".MainActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <receiver android:name="com.seemoreinteractive.seemoreinteractive.TestBroadcast" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name=".ARDisplayActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".ProductList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".ProductInfo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".Closet"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".WishListPage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".Recommendation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".ByBrands"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".TriggerActivity"
            android:label="@string/title_activity_trigger"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".OfferViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".WeburlActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WishItemSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".WishListSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".OptionsPrivacyPolicy"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".OptionsTermsConditions"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".OptionsHowTo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".PurchaseProductWithClientUrl"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".FriendsListActivity"
            android:label="@string/title_activity_friends_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FriendsListIems"
            android:label="@string/title_activity_friends_list_iems"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OptionsAbout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".OptionsShowWebsiteUrls"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".ShareActivity"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TwitterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="seemore-twitter" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OfferCalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".MenuOptions"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" >
        </receiver>

        <activity
            android:name=".UnderConstruction"
            android:label="@string/title_activity_under_construction"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MyOffers"
            android:label="@string/title_activity_my_offers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FacebookActivity"
            android:label="@string/title_activity_facebook"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShareMultipleImages"
            android:label="@string/title_activity_share_multiple_images"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingAcitivty"
            android:label="@string/title_activity_setting_acitivty"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FacebookMultipleShareActivity"
            android:label="@string/title_activity_facebook"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AccountLaunchActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AccountSettings"
            android:label="@string/title_activity_account_settings"
            android:screenOrientation="portrait" >
        </activity>
        <!--
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAiGpgVL8pteKRo5BoZG1USesrhQ7cjKdg" />
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA5_UuK9Ct293FhhjTDnUCQyfYIBKocu0E" />

        <activity
            android:name=".FindAStore"
            android:label="@string/title_activity_find_astore"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".OfferWebUrlActivity"
            android:label="@string/title_activity_offer_web_url"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FinancialActivity"
            android:label="@string/title_activity_financial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".TryOn"
            android:label="@string/title_activity_try_on"
            android:screenOrientation="userPortrait" >
        </activity>
        <activity
            android:name=".ShareTryOn"
            android:label="@string/title_activity_share_try_on"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FindAStoreItemDetails"
            android:label="@string/title_activity_find_astore_item_details"
            android:screenOrientation="portrait" >
        </activity>

        <!--
        <service android:name="com.seemoreinteractive.seemoreinteractive.calendar.NotificationService" android:enabled="true">
            <intent-filter>
                <action android:name="com.seemoreinteractive.seemoreinteractive.calendar.NotificationService"/>
            </intent-filter>
        </service>
        -->

        <service android:name=".calendar.NotifyService" >
        </service>

        <receiver
            android:name="com.quantcast.measurement.service.QCReferrerReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <provider
            android:name="com.facebook.NativeAppCallContentProvider"
            android:authorities="com.facebook.app.NativeAppCallContentProvider141475799356297" />

        <activity
            android:name=".RecentlyScanned"
            android:label="@string/title_activity_recently_scanned"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".NearbystoreActivity"
            android:label="@string/title_activity_nearbystore"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProductDetails"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".FullImage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".OrderConfirmation"
            android:label="@string/title_activity_order_confirmation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".Products"
            android:label="@string/title_activity_products"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FullScreen" >
        </activity>
        <activity
            android:name=".ShippingAddressForm"
            android:label="@string/title_activity_shipping_address_form"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".ShippingListInfo"
            android:label="@string/title_activity_shipping_list_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProductsCheckout"
            android:label="@string/title_activity_products_checkout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".SaveOrderInformation"
            android:label="@string/title_activity_save_order_information"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <!--
        <activity
            android:name="com.seemoreinteractive.seemoreinteractive.ThankYou"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        -->


        <!-- paypal -->
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name=".ThankYou"
            android:label="@string/title_activity_thank_you_new"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".TopMenuInfo"
            android:label="@string/title_activity_top_menu_info"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".ShopparVision"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShopparList"
            android:label="@string/title_activity_save_order_information"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VideoActivity"
            android:label="@string/title_activity_video"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".ScratchAndWin"
            android:label="@string/title_activity_scratch_and_win"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WheelOfDeals"
            android:label="@string/title_activity_wheel_of_deals"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameOffer"
            android:label="@string/title_activity_game_offer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DiscountOffer"
            android:label="@string/title_activity_discount_offer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameRules"
            android:label="@string/title_activity_game_rules"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".ScratchOffer"
            android:label="@string/title_activity_scratch_offer"
            android:theme="@style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".SpinWheel"
            android:label="@string/title_activity_spin_wheel" >
        </activity>
    </application>

</manifest>